@import "tailwindcss";

:root {
  --background: #ebf2fa;
  --foreground: #191e26;
  --pink: #df058d;
  --orange: #fe6b2b;
  --green: #0fa958;
  --blue: #2c49d8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-pink: var(--pink);
  --color-orange: var(--orange);
  --color-green: var(--green);
  --color-blue: var(--blue);

  --font-text: var(--font-montserrat);
  --font-heading: var(--font-chela-one);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191e26;
    --foreground: #ebf2fa;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-chela-one);
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.25rem;
}
