:root {
  --neutral-50: #fafaf9;
  --neutral-100: #f5f5f4;
  --neutral-200: #e7e5e4;
  --neutral-300: #d6d3d1;
  --neutral-400: #a8a29e;
  --neutral-500: #78716c;
  --neutral-600: #57534e;
  --neutral-700: #44403c;
  --neutral-800: #292524;
  --neutral-900: #1c1917;
  --neutral-950: #0c0a09;
  --white-black: #ffffff;
  --black-white: #000000;
  --danger: #dc2626;
  --sidebar-width: 225px;
}

:root.dark {
  --neutral-50: #0a0a0a;
  --neutral-100: #121212;
  --neutral-200: #1a1a1a;
  --neutral-300: #1f1f1f;
  --neutral-400: #292929;
  --neutral-500: #666666;
  --neutral-600: #808080;
  --neutral-700: #adadad;
  --neutral-800: #a0a0a0;
  --neutral-900: #ededed;
  --neutral-950: #ffffff;
  --white-black: #000000;
  --black-white: #ffffff;
  --danger: #dc2626;
}

@theme {
  --*: initial;

  --font-sans: var(--font-inter);
  --radius-ui: 0.75rem;

  --color-danger: var(--danger);
  --color-white-black: var(--white-black);
  --color-black-white: var(--black-white);
  --color-neutral-50: var(--neutral-50);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);
  --color-neutral-950: var(--neutral-950);

  --spacing-sidebar: var(--sidebar-width);
}

/* @import "@listtrackr/tailwind-config/config";
@import "tailwindcss";

:root {
  --background: #ebf2fa;
  --foreground: #191e26;
  --pink: #df058d;
  --orange: #fe6b2b;
  --green: #0fa958;
  --blue: #2c49d8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-pink: var(--pink);
  --color-orange: var(--orange);
  --color-green: var(--green);
  --color-blue: var(--blue);

  --font-text: var(--font-montserrat);
  --font-heading: var(--font-chela-one);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191e26;
    --foreground: #ebf2fa;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-chela-one);
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.25rem;
} */
